html,
body {
    margin: 0;
    height: 100%;
    background-color: rgb(250, 250, 217);
}

/* START of Header */

#page-header {
    background-color: rgb(255, 166, 39);
    height: auto;
    padding: 5px;
    display: flex;
    font-family: 'Montserrat',
        sans-serif;
    justify-content: space-between;
    box-shadow: 0px 0px 10px 0px rgb(63, 63, 63);
    padding-top: 10px;
    padding-bottom: 10px;
}

#header-logo {
    width: 45px;
    height: 45px;
    margin-left: 30px;
    margin-right: 15px;
}

.title {
    display: flex;
    float: left;
}

#header-title {
    padding-top: 10px;
}

.settings-dropdown {
    float: right !important;
    padding: 10px;
}

#settings-btn {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: black;
}

#dropdown-icons {
    position: relative;
    top: 5px;
    right: 5px;
}

/* END of Header */


/* START of Carousel */
/* .carousel-item {
    height: 300px;
}

.carousel-item img {
    height: 300px;
} */


/* END of Carousel */




/* START of Login Form */

.form-group input {
    width: 350px;
    height: 50px;
    border-radius: 100px;
    background-color: rgb(232, 230, 230);
    border: none;
    outline: none;
    font-size: 18px;
    padding-left: 20px;

}

.form-group {
    width: 345px;
}

.login-btn {
    width: 350px;
    height: 40px;
    border-radius: 100px;
    background-color: rgb(255, 152, 39);
    color: white;
    border: none;
    outline: none;
}

.login-btn:focus{
    outline: none;
    box-shadow: 0 0 1pt 1pt rgb(0, 0, 0);
}

.forgotPW{
    float: right;
    padding-top: 5px;
    padding-bottom: 5px;
}

.forgotPW a{
    color: black;
    outline: none;

}

.forgotPW a:focus {
    color: blue;
    outline: none;

}

.login-column {
    margin-top: 15px;
    margin-left: 20px;
}

.page-info {
    margin-top: 10px;
    text-align: justify;

}

/* END of Login Form */


/* START of main document */


/* START of Nav */

#main-container {
    width: 90%;
}

.main-title {
    margin-top: 60px;
    margin-bottom: 10px;
}

.main-pages a {
    color: black;
    font-size: 20px;
    padding-right: 30px;
    font-family: 'Montserrat',
        sans-serif;
}

#menu-icons {
    font-size: 35px;
    position: relative;
    top: 5px;
    right: 5px;
}

.search-btn {
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    border: none;
}

.main-buttons {
    display: flex;
    float: right;
}

.create-btn {
    background-color: rgb(255, 166, 39);
    color: white;
    margin-right: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: none;
    width: 210px;
    height: 35px;
}

/* END of Nav */


/* START of Table */
table {
    width: 100%;
    font-size: 18px;
}

th {
    background-color: orange;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 20px;
    color: white;
    font-size: 16px;
    font-family: 'Montserrat',
    sans-serif;
}

td {
    padding-left: 20px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
}

tr:nth-child(even) {
    background-color: #ececec;
}

tr:nth-child(odd) {
    background-color: #f7f7f7;
}

.tablemain {
    margin-top: 30px;
    overflow-x:auto;
    box-shadow: 0 0 10px rgba(148, 148, 148, 0.637);
    border-radius: 15px;    
    background: linear-gradient(to bottom, #FFA500 0%, #ececec 100%);
}

.create-docbtn{
    display: flex;
    float: right;
}

#custom-filter{
    width: 240px;
    margin-top: 14px;
    border-radius: 30px;
    background-color: #e8e6e6;
}

#delete-btn{
    background: url('/img/trash-icon.png') no-repeat;
    background-color: rgba(245, 222, 179, 0);
    height: 30px;
    width: 30px;
    border: none;
}

#disableUser-btn {
    background: url('/img/disable-user.png') no-repeat;
    background-color: rgba(245, 222, 179, 0);
    height: 30px;
    width: 30px;
    border: none;
}

#docUpdate-btn{
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

#enableUser-btn{
    background: url('/img/enable-user.png') no-repeat;
    background-color: rgba(245, 222, 179, 0);
    height: 30px;
    width: 30px;
    border: none;
}

#archive-btn {
    background: url('/img/archive-icon.png') no-repeat;
    background-color: rgba(245, 222, 179, 0);
    height: 30px;
    width: 30px;
    border: none;
}

/* END of Table */

/* END of main */


/* MODAL FOR CREATE DOCUMENT */
#modal-body {
    background-color: rgb(232, 230, 230);
    border-radius: 20px;
}

#modal-body input:focus{
    outline: none;
    padding-left: 10px;
    box-shadow: 0 0 3pt 2pt lightblue;
}

#createdoc-modal,
#upload-modal,
#sign-modal {
    height: 35px !important;
    width: 300px !important;
    margin-bottom: 30px;
    border: none;
    border-radius: 10px;
    background-color: rgb(255, 255, 240);
}

#oldpassword, #newpassword, #newpassword1{
    height: 35px !important;
    width: 300px !important;
    margin-bottom: 30px;
    border: none;
    border-radius: 10px;
    background-color: rgb(255, 255, 240);
}

#note-modal {
    height: 35px !important;
    width: 300px !important;
    margin-bottom: 30px;
    border-radius: 10px;
    border: none;
    background-color: rgb(255, 255, 240);
}

.upload-file {
    background-color: orange;
    border: none;
    padding: 2px;
    width: 100px;
    border-radius: 100px;
    margin-bottom: 30px;
    color: white;
}

#createdoc-label {
    width: 130px;
}

.radio-form {
    padding-left: 15px;
}

#alertBtn{
    border: none;
    height:40px;
    border-radius:15px;
    color:white;
    background-color:orange;
}

.submit-modal {
    background-color: orange;
    border: none;
    border-radius: 30px;
    padding: 3px;
    width: 80px;
    margin-right: 50px;
    color: white;
}

.close-modal {
    background-color: rgb(196, 196, 196);
    border: none;
    border-radius: 30px;
    padding: 3px;
    width: 80px;
    margin-right: 50px;
    margin-left: 130px;
}

.button-pw{
    margin-right: 58px;
}

/* START Modal for forgotPWModal */

#forgotPWMod{
    background-color: rgb(232, 230, 230);
    border-radius: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#email-forgotpw{
    border: none;
    border-radius: 10px;
    height: 30px;
    width: 250px;
}

#lbl-enterEmail{
    font-size: 16px;
    color: black;
    padding-right: 20px;
    font-family: 'Montserrat',
    sans-serif;
}

#email{
    border-radius: 30px;
    border: none;
    width: 230px;
    height: 35px;
    background-color: #fffff0;
}

#forgotPW-title{
    position: relative;
    top: -25px;
}

#forgotPW-body{
    position: relative;
    top: -25px;
}

#submit-forgetPW {
    background-color: orange;
    outline: none;
    border: none;
    color: white;
    height: 35px;
    width: 120px;
    border-radius: 30px;
    margin-right: auto;
    margin-left: auto;
}

/* END Modal for forgotPWModal */

/* forgot password pages */

.header-reset{
    display: flex;
    font-family: 'Montserrat',
    sans-serif;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 38%;
}

#header-logo1 {
    width: 55px;
    height: 55px;
    margin-right: 20px;
}

.resetpage-content{
    background-color: #fffff0;
    font-family: 'Montserrat',
    sans-serif;
    width: 60%;
    margin: auto;
    box-shadow: 0 0 5px rgba(148, 148, 148, 0.637);
    margin-top: 30px;
}

.resetpage-inner{
    margin: auto;
    width: 60%;
    padding-right: 10px;
}

.thick{
    font-weight: 900;
}

.lbl-resetpg{
    width: 250px;
    font-size: 22px;
    font-weight: bold;
}

.input-resetPW{
    border-radius: 15px;
    border: none;
    background-color: #e8e6e6;
    height: 35px;
    width: 200px;
    font-size: 21px;
    padding-left: 10px;
    font-size: 20px;
}

.input-resetPW:focus{
    outline: none;
    box-shadow: 0 0 3pt 2pt lightblue;

}

#submit-resetpw{
    background-color: orange;
    border: none;
    padding: 2px;
    width: 100px;
    border-radius: 100px;
    color: white;
    margin-top: 40px;
    outline: none;
}

#resetreset-btn{
    margin-right: 20px;
    border-radius: 30px;
    background-color: #c4c4c4;
    border: none;
    padding: 2px;
    width: 100px;
    border-radius: 100px;
    color: black;
    outline: none;
}

#resetreset-btn:focus,
#submit-resetpw:focus {
    box-shadow: 0 0 3pt 2pt lightblue;
    outline: none;
}

#resetreset-btn :focus{
    outline: none;
    box-shadow: 0 0 3pt 2pt lightblue;
}

/* END */

/* REGISTRATION */

.container-formreg{
    margin: auto;
    width: 40%;
}

.container-reg input{
    padding-left: 10px;
    border-radius: 30px;
    border: none;
    height: 40px;
    font-family: 'Montserrat',
    sans-serif;
    font-size: 18px;
    background-color: #e8e8e8;
    color: black;
}

.container-reg input:focus{
    box-shadow: 0 0 3pt 2pt lightblue;
    outline: none;
}

.container-reg select:focus {
    box-shadow: 0 0 3pt 2pt lightblue;
    outline: none;
}

.container-reg ::placeholder{
    color: black;
    opacity: 1;
}

.container-reg select {
    border-radius: 30px;
    border: none;
    padding-left: 10px;
    height: 40px;
    font-family: 'Montserrat',
    sans-serif;
    font-size: 18px;
    background-color: #e8e8e8;
    color: black;
}

#reg-fname{
    margin-bottom: 20px;
}

#reg-mi{
    width: 90px;
    margin-bottom: 20px;
}

#reg-lname{
    margin-bottom: 20px;
}

#reg-month{
    margin-right: 10px;
    margin-bottom: 20px;
}

#reg-day{
    width: 80px;
    margin-right: 10px;
    margin-bottom: 20px;
}

#reg-year {
    width: 90px;
    margin-bottom: 20px;
}

.reg-title{
    font-family: 'Montserrat',
    sans-serif;
    font-size: 18px;
}

.reg3-title {
    font-family: 'Montserrat',
        sans-serif;
    font-size: 16px;
    font-weight: bold;
}

#reg-pw, #reg-cpw{
    width: 290px;
}

#reg-code{
    width: 330px;
    margin-bottom: 40px;
}

#regGoBack-btn{
    border-radius: 30px;
    height: 40px;
    border: none;
    width: 180px;
    background-color: #c4c4c4;
    margin-right: 50px;
    margin-bottom: 10px;
    font-family: 'Montserrat',
    sans-serif;
    font-weight: bolder;
}

#regSubmit-btn{
    border-radius: 30px;
    height: 40px;  
    border: none;
    width: 180px;
    background-color: orange;
    margin-left: -10px;
    color: white;
    font-family: 'Montserrat',
    sans-serif;
    font-weight: bolder;
    margin-bottom: 40px;
}

#regSubmit-btn:focus,
#regGoBack-btn:focus{
    box-shadow: 0 0 3pt 2pt lightblue;
    outline: none;
}

.reg3{
    margin-bottom: 20px;
}

/* REGISTRATION */

/* START Go back */

#goback{
    color: black;
    font-size: 18px;
    position: relative;
    left: -10px;
    
}

#gobackbtn{
    font-size: 40px;
    position: relative;
    top: 13px;
    left: 13px;
}

/* END Go back */

/* START Add Account Modal */

#addAccount-modalContent{
    background-color: #e8e6e6;
    border-radius: 40px;
}

.content-addAcc{
    display: flex;
}

#addAcc-email {
    border-radius: 30px;
    border: none;
    background-color: #fffff0;
    height: 30px;
    width: 250px;
    margin-bottom: 30px;
    outline: none;
}

#addAccount-modalBody input:focus{
    box-shadow: 0 0 1pt 1pt lightblue;
    padding-left: 10px;
}

#addAcc-emailBtn{
    border-radius: 30px;
    background-color: orange;
    border: none;
    color: white;
    height: 30px;
    width: 100px;
}

/* END Add Account Modal */